*.DS_Store
build/
rake_output/
evidence/
*.pbxuser
!default.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
Payload*
.itout/
*.gcno
*.gcda
Pods/
*.xcscmblueprint
xcodebuild.log
